*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    display: grid;
    gap: 20px;
    min-height: 100%;
    grid-template-areas: 
    "cabesera"
    "buscador"
    "contenido";
    font-size: 1.2rem;
}

img{
    width: 80px;
    background-color: #D9D9D9;
}

.botonesheader{
    max-width: 100%;
    grid-area: cabesera;
    background-color: #D9D9D9;
    border-radius: 8px;
    padding: 10px;
    color: black;
    display: inline-block;
    font-size: 35px;
    text-decoration: none;
    border-left: 15px solid white;
    border-top: 15px solid white;
}

main{
    grid-area: contenido;
}

section{
    display: grid;
    grid-area: busqueda;
    grid-auto-flow: column;
    padding: 30px;
}

.busqueda{
    max-width: 100%;
    background-color: #CAE2F4;
    width: 60px;
    border-radius: 10px;
    padding: 15px;
}

input{
    min-width: 550px;
    background-color: #D9D9D9;
    font-size: 30px;
    margin-right: 50px;
    border-radius: 10px;
    text-align: center;
}

.verMapa{
    background-color: #CAE2F4;
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-right: 50px;
}

.favoritos{
    background-color: #D9D9D9;
    text-decoration: none;
    color: black;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-right: 50px;
}

.apartamentos{
    max-width: 100%;
    background-color: #D9D9D9;
    padding: 50px;
    margin: 75px;
}

.contenido{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 3px 6px;
    gap: 50px;
}

.imgApart{
    width: 415px;
    height: 372px;
}

.valor{
    background-color: white;
    text-align: center;
    border-radius: 8px;
    width: 270px;
}

.datosApart{
    background-color: white;
    margin: center;
    border-radius: 8px;
    max-height: 100%;
    width: 100;
}

.fav{
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    max-height: 100%;
}

.texto{
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 100%;
    max-height: 100%;
}
@media (min-width: 900px) {
    body{
        grid-template: 
        "cabesera"
        "buscador"
        "contenido";
    }
}
